@import 'nav', 'resources';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --darkblue: #2A324B; 
    --lightblue: #58699D; 
    --lightgrey: #E1E5EE; 
    --white: #fff; 
    --black: #000; 

    --font: 'Montserrat', sans-serif;
}

body {
    background-color: var(--lightgrey);
    font-family: var(--font);
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    color: var(--black);
}